/* * {
  padding: 0;
  margin: 0;
} */
html {
  scroll-behavior: smooth;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}
.jumbotron {
  width: 100%;
  overflow: hidden;
}
.card {
  width: 300px;
  box-shadow: 10px 10px 15px #000;
}
.card img {
  height: 400px;
}
.pirates img {
  border-radius: 4px;
}
.members {
  /* border: 1px solid #ccc; */
  box-shadow: 10px 10px 15px #000;
}
